// animation name
// flyLeft
// flyRight
// flyup
// zoomOut
// opacity
@keyframes opacity{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes Flip{
    0%{
        opacity: 0;
        transform: rotateY(-90deg);
    }
    10%{
        opacity: 0;
        transform: rotateY(-90deg);
    }
    to{
        opacity: 1;
        transform: rotateY(0deg);
    }
}
@keyframes flyLeft{
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    10%{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes flyRight{
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    10%{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes flyup{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes flydown{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes zoomOut{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.hv-underline {
    position: relative;
    transition: 0.3s ease-in-out;    
    &::after {
        content: "";
        position: absolute;
        top: calc(100% - 2px);
        left: 50%;
        width: 0%;
        height: 2px;
        background-color: var(--theme);
        transform: translate(-50%);
        transition: 0.3s ease-in-out;
    }
    &:hover {        
        &::after {
            width: 100%;
        }
    }
}
.hv-underline-red{
    &:hover{
        text-decoration: underline;
        text-decoration-color:red;
    }
}

@keyframes pointing{
    from{
        transform: translateX(-5px);        
    }
    to{
        transform: translateX(0);
    }
}
@keyframes dropwater {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes dropwater-mid {
    0% {
        transform: translate(-50%,-50%) scale(1);
    }
    25% {
        transform: translate(-50%,-50%) scale(1.1);
    }
    50% {
        transform: translate(-50%,-50%) scale(1.2);
    }
    100% {
        transform: translate(-50%,-50%) scale(1.3);
        opacity: 0;
    }
}
@keyframes flyZoomOut{
    from{
        transform: translateY(3px);
        transform: scale(1);
    }
    to{
        transform: translateY(3px);
        transform: scale(1.3);
    }
}
.hv-shadow-circle{
    position: relative;
    &:hover{
        &::after{
            position: absolute;
            width: 100%;
            height: 100%;
            animation: dropwater 1.2s infinite;
            content: "";
            left: 0%;
            top: 0%;
            border-radius: 50%;
            box-shadow: 0 0 10px 5px var(--theme);
        }
    }
}
.animation-shadow-danger{
    position: relative;
    &::after{
        position: absolute;
        width: 100%;
        height: 100%;
        animation: dropwater 1.2s infinite;
        content: "";
        left: 0%;
        top: 0%;
        box-shadow: 0 0 10px 5px#dc3545;
    }    

}
%apper{
    position: relative;
    &::after{
        position: absolute;
        width: 150%;
        height: 150%;
        border-radius: 50%;
        animation: dropwater-mid 1.2s forwards;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 10px 5px var(--secondary);
    }    
}
.animation-shadow{
    position: relative;
    &::after{
        position: absolute;
        width: 100%;
        height: 100%;
        animation: dropwater 1.2s infinite;
        content: "";
        left: 0%;
        top: 0%;
        box-shadow: 0 0 10px 5px var(--theme);
    }    
}
.hv-zoom{
    transition: 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 1px 3px var(--theme2);
        z-index: 99;
    }
}
.hv-zoom-qclv{
    transition: 0.3s ease-in-out;
    img{
        transition: 0.3s ease-in-out;
        position: relative;
    }
    &:hover{
        box-shadow: 0 0 1px 3px var(--theme2);
        img{
            transform: scale(1.3);          
        }
    }
}
.pointing-right{
    animation: pointing 0.5s ease-in-out;   
}
.hv-black9{
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
        background: rgba(0,0,0,.9) !important;
    }
}
.hv-bg-them{
    &:hover{
        background:var(--secondary2);
    }
}
.hv-bold{
    transition: 0.3s ease-in-out;
    &:hover{
        font-weight: bold;
    }
}
.hv-flyup{
    transition: 0.3s ease-in-out;
    &:hover{
        transform: translateY(-5px);
    }
}
.hv-shadow{
    position: relative;
    transition: 0.3s ease-in-out;
    &::after{
        transition: 0.3s ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
        // animation: dropwater .3s ease-in-out;
        content: "";
        left: 0%;
        top: 0%;
        border-radius: 0%;
        box-shadow: 0 0 0px 0px var(--theme2);
        z-index: -1;
    }
    &:hover{
        &::after{
            box-shadow: 0 0 10px 5px var(--theme2);
        }
    }
}
.screw{
    &:hover{
        transform: skew(100px,100px,100px);
    }
}
@keyframes spining{
    from{
        transform: translate(-50%,-50%) totate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.dashed-spin{
    position: relative;    
    width: 120px;
    height: 120px;  
    &::before{
        content: '';        
        width: calc(100% + 2px + 2px );
        height: calc(100% + 2px + 2px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border: 2px dashed var(--theme2);
        border-radius: 50%;
        background: none;
        display: block;
        margin: auto;
        //
        // border: 4px dashed var(--theme);
        //     width: calc(100% + 2px + 2px );
        //     height: calc(100% + 2px + 2px);
        //     animation: spining 20s linear infinite;
    }
    &:hover{
        &::before{
            border: 4px dashed var(--theme2);
            width: calc(100% + 2px + 2px );
            height: calc(100% + 2px + 2px);
            animation: spining 20s linear infinite;
        }
    }
    @media (min-width:768px) {
        width: 200px;
        height: 200px;
    }
}
@keyframes wave {
    0% {
        transform: translate(2px, 0px) rotate(0deg);
    }
    10% {
        transform: translate(4px, 0px) rotate(-1deg);
    }
    20% {
        transform: translate(6px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(8px, 0px) rotate(0deg);
    }
    40% {
        transform: translate(7px, 0px) rotate(1deg);
    }
    50% {
        transform: translate(6px, 0px) rotate(-1deg);
    }
    60% {
        transform: translate(5px, 0px) rotate(0deg);
    }
    70% {
        transform: translate(4px, 0px) rotate(-1deg);
    }
    80% {
        transform: translate(3px, 0px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 0px) rotate(0deg);
    }
    100% {
        transform: translate(1px, 0px) rotate(-1deg);
    }
}
.hv-wave,%hv-wave{
    &:hover{
        animation-name: wave;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}
%wave{
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.hv-dark{
    &:hover{
        *{
            filter: brightness(70%);
        }
        // img{
        //     filter: brightness(100%) !important;
        // }    
    }
}
.hv-bright{
    &:hover{
        *{
            filter: brightness(130%);
        }
    }
}
.hv-shine,%shine {    
    figure{
        overflow: hidden;
        &::before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);            
        }
    }
    &:hover{
        figure{
            &::before {
                -webkit-animation: shine .75s;
                animation: shine .75s;
            }
        }
    }
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.hv-blur{
    img{
        filter: blur(0.5px);
    }
    transition: 0.3s ease-in-out;
    &:hover{
        img{
            filter: blur(0);
        }
    }
}
.hv-flip{
    figure{
        transition: 0s ;
        transform:rotateY(-180deg);
        filter: grayscale(100%);
    }
    &:hover{
        figure{
            transition: 0.3s ease-in-out;
            transform:rotateY(-0deg);
            filter: grayscale(0%);
        }
    }
}