.contain-banner{
    animation: flyLeft 1s ease-in-out;
    margin-top: -45px;
    @media (min-width:992px) {    
        margin-top: 0px;
    }
    .banner{
        position: relative;      
        blockquote{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            padding: 10px;
            margin-bottom: 0;                 
            @media (min-width:567px) {
                padding: 50px;
            }         
            .content{
                background: rgba(0,0,0,.7);
                border-radius: 10px;
                padding: 10px;
                margin-top: auto;
                color: white;  
                @media (min-width:567px) {
                    margin-bottom:auto;
                    margin-top:auto;
                    padding: 15px;
                }           
                .slogan{
                    margin-bottom: 0;
                    font-size: 5vw;
                    @media (min-width:567px) {
                        font-size: 24px;
                    }
                    @media (min-width:992px) {
                        font-size: 32px;
                        margin-bottom: 15px;
                    }
                }
                .slogan2{
                    margin-bottom: 15px;
                    font-size: 3vw;
                    @media (min-width:567px) {
                        font-size: 16px;
                    }
                    @media (min-width:992px) {
                        font-size: 18px;
                        margin-bottom: 40px;
                    }
                }
                .btn{
                    padding: 0.3em 0.5em;
                    background: var(--secondary2);
                    color: white;
                    font-size: 3vw;
                    font-family: 'Signika';
                    @media (min-width:567px) {
                        font-size: 16px;
                    }
                    @media (min-width:992px) {
                        font-size: 18px;
                        margin-bottom: 15px;
                        color: black;
                    }
                    transition: 0.3s ease-in-out;
                    &:hover{
                        position: relative;
                        transform: translateY(-3px);
                        box-shadow: 0 1em 0.5em  black;
                        &::after{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            animation: dropwater 1.2s ;
                            animation-iteration-count: 1;
                            content: "";
                            left: 0%;
                            top: 0%;
                            border-radius: 5px;
                            box-shadow: 0 0 10px 5px var(--secondary2);
                        }    
                    }
                }
            }
        }
    }
}
.banner-cate{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url('../images/bg-banner-cate.jpg');
    background-size:100% 100%, auto 100%;
    height: 200px;
    display: flex;    
    flex-direction: column;
    .breadcrumb{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)) ;
        margin: auto auto 0;
        list-style-type: none;
        display: flex;
        padding-top: 17px;
        padding-bottom: 5px;
        li{
            margin-right: 1em;
            margin-top: auto;
            display: flex;
            img{
                margin-top: -15px;
                height: 1.6em;                
            }
            a{
                margin-top: auto;
                display: inline-block;
            }
            &::after{
                content: '>';                
            }
            &:last-child{
                &::after{
                    content: '';                
                }   
                color: var(--secondary2);
            }
            color: white;
            *{
                color: white;
            }
        }
    }
}