.poiter{
    cursor: pointer;
}
.btn-theme-outline{
    margin: auto;
    display: flex;         
    background: transparent;                        
    border: 1px solid #002855;
    color: #002855;
    font-weight: bold;      
    font-size: 12px;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    p{
        margin: auto;
        white-space: normal;
        text-align: center;
    }
    &:hover{
        box-shadow: inset 0 -75px 0 var(--theme);                            
        p{
            color: white;
        }
    }
}
.btn-theme-bold2{
    padding: 0.2rem 1.5rem;   
    border-radius: 5px;
    display: flex; 
    border: none;
    outline: none;
    background: var(--theme2); 
    color: white;
    font-weight: bold;      
    font-size: 14px;
    transition: 0.1s ease-in-out;        
    p{
        margin: auto;
        white-space: normal;
        text-align: center;
    }
    &:hover{
        box-shadow: inset 0 -75px 0 var(--theme);                            
        transform: translateY(-3px);
        box-shadow: 0 3px 3px gray;
        p{
            color: white;
        }
    }
    &.on{
        background: var(--theme3);
        transform: none;
    }
    @media (min-width:768px) {
        font-size: 18px;
    }
}
.btn-theme-bold{
    padding: 0.2rem 1.5rem;   
    border-radius: 5px;
    display: flex; 
    border: none;
    outline: none;
    background: var(--theme); 
    color: white;
    font-weight: bold;      
    font-size: 14px;
    transition: 0.1s ease-in-out;        
    p{
        margin: auto;
        white-space: normal;
        text-align: center;
    }
    &:hover{
        background-color: var(--theme2);                            
        transform: translateY(-3px);
        box-shadow: 0 3px 3px gray;
        p{
            color: white;            
        }
    }
    &.on{
        background: var(--theme3);
        transform: none;
    }
    @media (min-width:768px) {
        font-size: 18px;
    }
}
.hv-btn{
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 3px 3px gray;
    }
}
.btn-icon-bold{
    width: 80px;
    padding-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;
    border: 1px solid var(--theme);
    outline: none;
    background: white; 
    color: black;
    font-weight: bold;      
    font-size: 14px;
    transition: 0.1s ease-in-out;
    .icon{
        height: 2rem;
        margin: auto;
        filter: brightness(0);        
    }        
    p{
        margin: auto;
        white-space: normal;
        text-align: center;
        font-size: 10px;
    }
    &:hover{
        box-shadow: inset 0 -75px 0 var(--theme);                            
        // transform: translateY(-3px);
        box-shadow: 0 3px 3px gray;
        background: var(--theme2);
        cursor: pointer;
        p{
            color: white;
        }
        .icon{
            filter: brightness(99);
        }
    }
    &.on{
        background: var(--theme3);
        transform: none;
        p{
            color: white;
        }
        .icon{
            filter: brightness(99);
        }
    }
    @media (min-width:768px) {
        .icon{
            height: 3.5rem;
        }        
        p{
            font-size: 18px;
        }
        width: 150px;      
    }
}
.btn-icon-outline{
    width: 80px;
    padding-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;
    border: 1px solid var(--theme);
    outline: none;
    background: white; 
    color: black;
    font-weight: bold;      
    font-size: 14px;
    transition: 0.1s ease-in-out;
    .icon{
        height: 2rem;
        margin: auto;
        filter: brightness(0);    
        transition: 0.3s ease-in-out;    
    }        
    p{
        margin: auto;
        white-space: normal;
        text-align: center;
        font-size: 10px;
    }
    &:hover{
        box-shadow: 0 0.5rem 1rem 3px var(--theme);                            
        // transform: translateY(-3px);
        cursor: pointer;
        // p{
        //     color: white;
        // }
        .icon{
            transform: scale(1.1);
        }
    }
    &.on{
        background: var(--theme3);
        transform: none;
        p{
            color: white;
        }
        .icon{
            filter: brightness(99);            
            transform: scale(1.2);            
        }
    }
    @media (min-width:768px) {
        .icon{
            height: 3.5rem;
        }        
        p{
            font-size: 18px;
        }
        width: 150px;      
    }
}
.btn-fullscreen{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: transparent;
    color: #ddd;
    border-radius: 0;
    cursor: pointer;
    vertical-align: top;
    outline: none;
    &::before{
        content: '';        
        width: 15px;
        height: 11px;
        left: calc(50% - 7px);
        top: calc(50% - 6px);
        border: 2px solid whitesmoke;
        background: none;
        display: block;
        margin: auto;
    }
    &:hover{
        background-color: black;
    }
}
.btn-close{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: transparent;
    color: #ddd;
    border-radius: 0;
    cursor: pointer;
    vertical-align: top;
    outline: none;
    &::before,&::after{
        content: '';
        display: inline-block;
        position: absolute;
        height: 2px;
        width: 16px;
        top: calc(50% - 1px);
        left: calc(50% - 8px);
        background-color: currentColor;
    }
    &::before{
        transform: rotate(45deg);
    }
    &::after{
        transform: rotate(-45deg);
    }
    &:hover{
        background-color: black;
    }
}
.btn-outline{
    border: 1px solid var(--theme);
    padding: 0.3em 1.5em;    
    color: var(--theme);
    transition: 0.3s ease-in-out;
    text-align: center;
    &:hover{
        background-color: var(--theme2);
        color: white;
    }
    &.on{
        border-color: white;
        background-color: var(--theme);
        color: white;
    }
}

.plush-minus {
    justify-content: space-around;      
    .row {
        padding-top: 0;
        button {
            border: 1px solid black;
            outline: none;
            margin: 0;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 0;
            background: white;
            &.minus {
                // border-bottom-left-radius: 5px;
                // border-top-left-radius: 5px;
                border-right: none;
            }
            &.plush {
                // border-bottom-right-radius: 5px;
                // border-top-right-radius: 5px;
                border-left: none;
            }
        }
    }
    input[type="number"] {
        color: black;
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin: 0;
        width: 35px;
        height: 25px;
        text-align: center;
        outline: none;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.btn-square{
    padding: 5px !important;
}
.btn-notification{
    position: relative;
    display: flex;
    .icon{
        width: 30px;
        height: 30px;
    }
    .notification{
        display: block;
        text-align: center;
        position: absolute;
        top: -2px;
        right: -7px;
        background: red;
        color: white;
        font-family: 'Baloo_Tammudu_2';
        height: 17px;
        width: 17px;
        border-radius: 50%;        
    }
}
.btn-outline-secondary{
    border-color: var(--secondary2);
}
.btn-hv{
    transition: 0.3s ease-in-out;
    &:hover{
        position: relative;
        transform: translateY(-3%);
        box-shadow: 0 0.5em 0.3em  black;
        &::after{
            position: absolute;
            width: 100%;
            height: 100%;
            animation: dropwater 1.2s ;
            animation-iteration-count: 1;
            content: "";
            left: 0%;
            top: 0%;
            border-radius: 5px;
            box-shadow: 0 0 5px 5px var(--secondary2);
        }    
    }
}