.counterpart{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7))  , url('../images/background-counterpart.jpg');
    background-size: 100% 100%, auto 100%;    
    blockquote{
        border: 1px solid white;
        padding: 15px;
        color: white;
        text-align: center;
        p{
            margin-bottom: 0.5rem;
        }
        .count-number{
            color: var(--secondary2);
            font-size: 64px;
            font-weight: bold;
            font-family: 'Tinos';
        }
    }
}