footer.main{
    background-image: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)) ,url(../images/backgroundfooter.jpg);
    background-size: 100% 100%, auto 100%;
    .coppyright{
        background-color: #007bff;
    }
}