.icon-sm{
    width: 1.6em !important;
    height: 1.6em !important;
}
.icon-hsm{
    height: 1.2em !important;
}
.icon-md{
    width: 5em !important;
    height: 5em !important;
}
.icon-lg{
    width: 10em !important;
    height: 10em !important;
}