nav.main{
    z-index: var(--navIndex);
    position: sticky;
    top: 0;
    transition:0.3s ease-in-out;
    animation: flydown 0.5s ease-in-out;
    @media (min-width:992px) {    
        transition: 1s ease-in-out;
    }
    .container{
        position: relative;     
        display: flex;
        justify-content: space-between;
        z-index: var(--navIndex);
    }
    .logoNavbar{
        height:34.5px;   
        @media (min-width:992px) {
            height: 98px;
        }
    }
    aside{
        flex: auto;
        .line1{
            display: flex;
            flex: auto;
            .btn-menu{
                img{
                    width: 23px;
                }
            }
        }
        .line2{
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100vh;
            width: 100%;            
            .layer{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.25);
                z-index: -1;                
            }
            .content{
                display: inline-block;
                background: white;
                height: calc(100vh);
                overflow-y: scroll;
                animation: slide-from-left 0.3s ease-in-out;  
                header{
                    position: sticky;
                    top: 0;
                    display: flex;
                    padding: 10px;
                    background: #555;
                    img{
                        height: 34.5px;
                    }
                    .name{
                        font-size: 16px;                        
                        margin-bottom: 0;
                        color: white;
                    }
                    .Slogan{
                        font-size: 12px;
                        color: var(--secondary2);
                        margin-bottom: 0;
                    }
                }
            }
            .links{
                list-style-type: none;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                li {
                    margin-bottom: 10px;
                    border-bottom: 1px solid lightgray;
                    .link{
                        display: flex;
                        a{
                            display: block;
                        color:#555 ;
                        font-size: 14px;
                        }
                        .show-more{
                            transform: rotate(90deg);
                            transition: 0.3s ease-in-out;
                            &.on{
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    .link-subcate{
                        list-style-type: none;
                        padding-left: 15px;
                        padding-top: 5px;
                        margin-bottom: 15px;                        
                        li {
                            margin-bottom: 5px;
                            a{
                                color: #666;
                                font-size: 14px;
                            }
                            border-bottom: 1px dashed lightgray;
                        }
                    }
                }
            }
            .social{
                display: none;
            }
        }
    }    
    @media (min-width:992px) {
        .container{
            padding: 0;
        }
        background-image: linear-gradient(180deg,ghostwhite 58%, #333 58%);
        aside{
            .line1{
                padding: 10px;
                background: ghostwhite;                           
            }
            .line2{
                position: inherit;
                display: block !important;
                height: auto;
                .layer{
                    display: none;
                }
                .content{
                    width: 100%;
                    height: auto;
                    overflow: initial;
                    background-color: transparent;
                    display: flex;                    
                    header{
                        display: none;
                    }
                    .links{
                        display: flex;
                        padding: 0;
                        margin-bottom: 0;
                        position: relative;
                        li{                        
                            border-bottom:none ;
                            margin-bottom: 0;
                            padding: 0;
                            transition: 0.3s ease-in-out;
                            position: relative;
                            .link{
                                display: flex;
                                a{
                                    color: ghostwhite;
                                    display: block;
                                    padding: 10px 20px;
                                }
                                .show-more{
                                    filter: invert(1);
                                    transform: rotate(0deg);
                                    margin-right: 20px;
                                    margin-left: -15px;
                                }
                            }                                       
                            &:hover{
                                background: var(--secondary2);
                                .link {
                                    a{
                                        color: black;
                                        text-decoration: none;
                                    }
                                    .show-more{
                                        filter: initial;
                                        transform: rotate(90deg);
                                    }
                                }
                                .link-subcate{
                                    padding: 0;
                                    display: block !important;
                                    position: absolute;                                    
                                    top: 100%;
                                    left: 0;
                                    background: white; 
                                    z-index: 99;
                                    li{
                                        padding: 0;
                                        margin-bottom: 0;
                                        a{
                                            width: 300px;
                                            display: block;
                                            padding: 5px 10px;
                                            text-decoration: none;
                                        }
                                    }                              
                                }
                            }
                        }
                    }    
                    .social{
                        margin-left: auto;
                        padding-left: 0;
                        list-style-type: none;
                        display: flex;
                        margin-bottom: 0;
                        li{
                            display: inline-block;
                            margin: auto;
                            a{           
                                display: inline-block;  
                                padding: 10px;                                                   
                                filter: grayscale(100%);
                                img{
                                    height: 21px;
                                }
                                &:hover{
                                    filter:none ;
                                }
                            }
                        }
                    }                
                }
            }
        }
    }
}
form.search{
    border: none;
    @media (min-width:768px) {
        margin-left: auto;
        margin: 15px;
    }
    input{
        width: 130px;
        font-size: 14px;
        &:focus{
            box-shadow: 0.5em 0.3em 0.3em inset var(--secondary2),  0 -0.3em 0.3em inset var(--secondary2), ;
        }
        @media (min-width:375px) {
            width: auto;
        }
        @media (min-width:567px) {
            width: 110px;
        }
        @media (min-width:768px) {
            width: auto;
            outline: none;
        }
    }    
}