.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.sticky-sliderbar{
    @media (min-width:768px) {        
        position: sticky;
        top: 20px;
    }
}
.middle-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.middle-left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}