%box-shadow{
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0,0.15);
} 
%middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.NPG-product{
    @extend %box-shadow;
    border: 1px solid lightgray;    
    transition: 0.3s ease-in-out;
    figure{
        padding-top: 100%;
        position: relative;
        width: 100%;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 0.5em;
        img{
            transition: 0.3s ease-in-out;
            width: 100%;
            @extend %middle;
            object-fit: contain;
            @media (min-width:992px) {
                width: 90%;
            }
        }
    }        
    blockquote{
        padding: 5px;
        margin-bottom: 5px;
        .name{
            text-align: center;
            font-size: 18px;            
            margin-bottom: 0.25em;
            @media (min-width:992px) {
                border-bottom: 1px solid lightgray;
            }
        }
        .price-cart{
            @media (min-width:992px) {
                padding-top: 5px;
            }
            display: flex;
            justify-content: space-between;
            .price{
                margin-bottom: 0;
                color: #D9001B;
                @media (min-width:992px) {
                    margin: auto;
                }
            }
            .cart{
                display: block;                
                @include my(auto);
                border: 1px solid gray;
                border-radius: 5px;
                padding: 5px;
                &.on{
                  background-color: var(--theme2);  
                  @extend %apper;
                  img{
                    filter: invert(1);
                  }
                }
                img{
                    @media (min-width:992px) {
                        height: 1.5em;
                    }
                }
                &:hover{
                    background: var(--secondary);
                    img{
                        filter: invert(1);
                    }
                }
            }
        }
    }
    &:hover{
        @extend %hover15 ;
        figure{
            img{
                width: 100%;
            }
        }
        box-shadow:0 0.5rem 1rem var(--secondary2);
        blockquote{
            .price-cart{
                .cart{
                    img{
                        @extend %wave;                
                    }
                }
            }
        }
    }
}

// .product{    
//     box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .15);
//     border: 1px solid lightgray;    
//     margin-bottom: 0;
//     animation: zoomOut 1s ease;
//     picture{
//         position: relative;     
//         display: block;
//         width: 100%;
//         padding-top: 100%;
//         margin-bottom: 0;
//         overflow:hidden;
//         img{
//             position: absolute;
//             width: auto;
//             height: auto;
//             min-width: 100%;
//             min-height: 100%;
//             max-width: 120%;
//             max-height: 120%;            
//             top:50%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//         }                                                                                    
//     }    
//     figcaption{
//         border-top: 1px solid var(--theme);        
//         background-color: white;        
//         .logo{
//             display: none;
//         }
//         .tilte-showroom{
//             font-size: 13px;
//             text-align: center;
//             background-color: rgba(255, 255, 255,.1);
//             margin-bottom: 0;
//             color: var(--theme);
//             padding: 5px 5px 0;        
//         }        
//     }
//     @media (min-width:768px) {            
//         position: relative;       
//         picture{
//             overflow: hidden;
//             img{
//                 transition: 0.3s ease-in-out;
//             }
//         }
//         figcaption{
//             position: absolute;                
//             border-top: none;
//             bottom: 0;        
//             opacity: 0;
//             background-color: rgba(255,255,255,.6);
//             height: 100%;
//             width: 100%;
//             text-align: center;
//             transition: 0.3s ease-in-out;
//             .logo{
//                 display: block;
//                 position: absolute;
//                 width:50%;
//                 height: 50%;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%,-50%);
//             }
//             .tilte-showroom{                    
//                 font-size: 13px;
//                 text-align: center;
//                 background-color: transparent;
//                 margin-bottom: 0;
//                 color: var(--theme);
//                 padding: 5px 5px 0;
//                 position: absolute;
//                 bottom: 0;                
//                 width: 100%;
//                 padding-top: 0.5rem;
//             }
//         }           
//     }
//     &:hover{
//         picture{                        
//             img{
//                 transform:translate(-50%,-50%)  scale(1.3);
//                 filter: brightness(90%);
//             }
//         }
//         figcaption{            
//             opacity: 1;         
//         }
//     }
// }
// .product-2{    
//     box-shadow: 0 0.5rem 0.5rem rgba(223, 178, 178, 0.15);
//     border: 1px solid lightgray;    
//     margin-bottom: 0;
//     animation: zoomOut 1s ease;
//     transition: 0.3s ease-in-out;
//     position: relative;
//     picture{
//         position: relative;     
//         display: block;
//         width: 100%;
//         padding-top: 100%;
//         margin-bottom: 0;
//         overflow: hidden;
//         transition: 0.3 ease-in-out;
//         img{
//             position: absolute;
//             width: auto;
//             height: auto;
//             min-width: 100%;
//             min-height: 100%;
//             max-width: 120%;
//             max-height: 120%;            
//             top:50%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//         }                                                                                    
//     }    
//     figcaption{     
//         position: absolute;
//         bottom: 0;
//         width: 100%;
//         background-color: rgba(255, 255, 255,.5);
//         .logo{
//             display: none;
//         }
//         .tilte-showroom{
//             font-size: 13px;
//             text-align: center;
//             margin-bottom: 0;
//             color: black;
//             padding: 5px 5px 10px;        
//         }        
//     }
//     &:hover{
//         border: 1px solid var(--theme2);        
//         box-shadow: 0 0.2rem .5rem var(--theme2);
//         picture{
//             transition: 0.3s ease-in-out;
//             img{
//                 transition: 0.3s ease-in-out;
//                 transform: translate(-50%,-50%) scale(1.2);
//             }
//         }
//     }
// }
// .product-3{
//     box-shadow: 0 0.5rem 0.5rem rgba(223, 178, 178, 0.15);
//     border: 1px solid lightgray;    
//     margin-bottom: 0;
//     animation: zoomOut 1s ease;
//     transition: 0.3s ease-in-out;
//     position: relative;
//     picture{
//         position: relative;     
//         display: block;
//         width: 100%;
//         padding-top: 100%;
//         margin-bottom: 0;
//         overflow: hidden;
//         transition: 0.3 ease-in-out;
//         overflow: hidden;
//         img{
//             transition: 0.3s ease-in-out;
//             position: absolute; 
//             min-height: 100%;
//             min-width:100%;
//             max-width: 120%;
//             max-height: 120%;
//             width: auto;
//             height: auto;
//             top:50%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//         }       
//         .discount {
//             position: absolute;
//             top: 0;
//             left: 0;
//             background: var(--theme);            
//             color: white;
//             padding: 0.5em 1em;
//             font-size: 16px;
//             transition: 0.3s;
//             .active{
//                 background: block;
//             }
//         }                                                                             
//     }       
//     figcaption{     
//         position: absolute;
//         bottom: 0;
//         width: 100%;    
//         .tilte-showroom{
//             background-color: rgba(255, 255, 255,.5);   
//             opacity: 1;
//             transition: 0.3s;   
//             font-size: 13px;
//             text-align: center;
//             margin-bottom: 0;
//             color: black;
//             padding: 5px 5px 10px;        
//         }  
//         .buy{     
//             background-color: rgba(255, 255, 255,.5);   
//             transition: 0.3s;   
//             margin: 0;
//             bottom: 0;
//             left: 0;
//             width: 100%;
//             padding:15px;
//             padding-right: 2.7em;
//             display: flex;
//             flex-wrap: wrap;
//             .old-price{
//                 color: #555;
//                 text-decoration: line-through;   
//                 display: inline-block;             
//             }
//             .price{
//                 color: var(--danger);              
//                 font-weight: bold;
//                 display: inline-block;
//             }
//             .cart-btn{
//                 img{
//                     width: 1.5em;
//                     height: 1.5em;
//                     animation: flyZoomOut 0.3s ease-in  alternate-reverse infinite;
//                     &.cart-check{
//                         animation: none;
//                         transform: scale(1.3);
//                     }
//                 }
//                 right: 15px;
//                 bottom: 15px;
//                 margin-left: auto;
//                 position: absolute;
//             }
//             @media (min-width:768px) {                
//                 position: absolute;
//                 opacity: 0;  
//             }
//         }   
//     }
//     &:hover{
//         border: 1px solid var(--theme2);        
//         box-shadow: 0 2px 3px var(--theme2);
//         picture{
//             transition: 0.3s ease-in-out;
//             img{
//             transition: 0.3s ease-in-out;
//                 transform: translate(-50%,-50%) scale(1.1);
//             }
//             .discount{
//                 opacity: 0;
//             }
//         }        
//         figcaption{
//             .tilte-showroom{
//                 opacity: 0;
//             }
//             .buy{     
//                 opacity: 1;  
//             }
//         }        
//     }
// }
