.tuyendungbg{
    background: linear-gradient(90.1527582878607deg, rgba(26, 155, 212, 1) 0%, rgba(26, 155, 212, 0.5) 30%, rgba(2, 227, 73, 0.5) 100%),url('../images/u2203.jpg');
}
.new-span{
    background: url('../images/u2214.svg');    
    background-size: 100% 100%;
}