/* thiết lập chung */
/*setup*/
:root {
    --theme:black;
    --theme2:#4b73b8;   
    --theme-dark-mood:white;
    --secondary:#394091;
    --secondary2:#c3d565;   
    --hightlight:#e21f1b; 
    --ultimate-gray: #939597;
    --dark-charcoal: #333;
    --color-alice: #f8f9fa;
    --navIndex:100;
    --popBox:101;
}
$lightPink: rgb(249, 235, 214);
$theme-color-2: --theme-color-1;
$theme-color-1-5: --theme-color-1-5;
$theme-color-1: rgb(224, 165, 45);
$font-color: #333333;
$font-color-2: #555555;
$font-color-3: #7f7f7f;
$font-style: "Open Sans", sans-serif;
$font-style-2: "Open Sans", sans-serif;
$ultimate-gray: #939597;
$dark-charcoal: #333;
$color-alice: #f8f9fa;
@import 'color';
@import 'text';
@import 'bootrap';
@import 'components';
@import 'animation';
@import 'position';
@import 'nav';
@import 'popBox';
@import 'form';
@import 'owl';
@import 'banner';
@import 'product';
@import 'section-bao-gia';
@import 'list';
@import 'footer';
@import 'fixed';
@import 'object';
@import 'btn';
@import 'icon';
@import 'size';
@import 'elements';
@import 'Stickymobie';
@import 'intro';
@import 'quality';
@import 'systerm';
@import 'counterpart';
@import 'bao-chi';
@import 'videoyoutube';
@import 'gioi-thieu-ve-ngp';
@import 'tuyendung';
@font-face{
    src: url('../Lobster/Lobster-Regular.ttf');
    font-family: "Lobster";
}
@font-face{
    src: url('../Signika/Signika-VariableFont_wght.ttf');
    font-family: "Signika";
}
@font-face{
    src: url('../Tinos/Tinos-Regular.ttf');
    font-family: "Tinos";
}
html{
    scroll-behavior: smooth;
}
body {
    background: ghostwhite;
    *{
        font-family: "Signika" ;
    }  
    *::first-letter {
        text-transform: uppercase;
    }
    padding-bottom: 60px;
    @media (min-width:768px) {
        padding-bottom: 0;
    }    
}
.translate-top{
    margin-top: -100px !important;
}
.btn-primary{
    padding: 0.3em 0.5em;
    background: var(--secondary2);
    color: white;
    font-family: 'Signika';
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:hover{
        position: relative;
        transform: translateY(-3px);
        box-shadow: 0 1em 0.5em  black;
        &::after{
            position: absolute;
            width: 100%;
            height: 100%;
            animation: dropwater 1.2s ;
            animation-iteration-count: 1;
            content: "";
            left: 0%;
            top: 0%;
            border-radius: 5px;
            box-shadow: 0 0 10px 5px var(--secondary2);
        }    
    }
}