<section class="container py-md-4 products">      
    <header class="title-section mb-4">
      <p class="title">
        BÁO CHÍ NÓI VỀ CHÚNG TÔI
      </p>
      <div class="cord-socket-icon">
        <img src="images/cord.png" alt="" class="cord">
        <img src="images/sockets.png" alt="" class="sockets">
      </div>
    </header>
    <div class="item-3-1 owl-carousel navMiddle">
      <div class="item py-md-4" animationOnScroll='Flip'>
          <section class="paper hv-shine hv-flip">
              <!-- ảnh logo -->
              <img src="images/logo-bao-chi1.jpg" alt="" class="logo mb-3">
              <!-- trang chính -->
              <figure>
                <img src="images/bai-viet-bao-chi1.svg" class="hinh-anh">
              </figure>
          </section>
      </div>
      <!-- clone -->
      <div class="item py-md-4" animationOnScroll='Flip'>
          <section class="paper hv-shine hv-flip">
              <!-- ảnh logo -->
              <img src="images/logo-bao-chi2.png" alt="" class="logo mb-3">
              <!-- trang chính -->
              <figure>
                <img src="images/bai-viet-bao-chi2.svg" class="hinh-anh">
              </figure>
          </section>
      </div>
      <div class="item py-md-4" animationOnScroll='Flip'>
          <section class="paper hv-shine hv-flip">
              <!-- ảnh logo -->
              <img src="images/logo-bao-chi3.png" alt="" class="logo mb-3">
              <!-- trang chính -->
              <figure>
                <img src="images/bai-viet-bao-chi3.svg" class="hinh-anh">
              </figure>
          </section>
      </div>
      <div class="item py-md-4" animationOnScroll='Flip'>
          <section class="paper">
              <!-- ảnh logo -->
              <img src="images/logo-bao-chi1.jpg" alt="" class="logo mb-3">
              <!-- trang chính -->

              <img src="images/bai-viet-bao-chi1.svg" class="hinh-anh">
          </section>
      </div>
  </section>