<section class="container projects">      
    <header class="title-section mb-4">
      <p class="title">
        DỰ ÁN TIÊU BIỂU
      </p>
      <div class="cord-socket-icon">
        <img src="images/cord.png" alt="" class="cord">
        <img src="images/sockets.png" alt="" class="sockets">
      </div>
    </header>
    <main class="owl-carousel item-4-1 navMiddle">
      <aside class="item py-lg-4">
        <a href="duanchitiet.html" class="text-dark no-decoration">
          <div class="systerm hv-shine hv-shadow" animationOnScroll='Flip'>
            <figure>
              <img src="images/pro1ject.jpg" alt="">           
            </figure>
            <blockquote>
              <p class="size-14 mb-0">                
                  DỰ ÁN ĐIỆN NĂNG LƯỢNG MẶT TRỜI ÁP MÁI 22KWP - BÌNH CHÁNH                
              </p>
            </blockquote>
          </div>
        </a>
      </aside>      
      <aside class="item py-lg-4">
        <a href="duanchitiet.html" class="text-dark no-decoration">
          <div class="systerm hv-shine hv-shadow" animationOnScroll='Flip'>
            <figure>
              <img src="images/pro2ject.png" alt="">           
            </figure>
            <blockquote>
              <p class="size-14 mb-0">                
                  DỰ ÁN ĐIỆN NĂNG LƯỢNG MẶT TRỜI ÁP MÁI 22KWP - BÌNH CHÁNH                
              </p>
            </blockquote>
          </div>
        </a>
      </aside>  
      <aside class="item py-lg-4">
        <a href="duanchitiet.html" class="text-dark no-decoration">
          <div class="systerm hv-shine hv-shadow" animationOnScroll='Flip'>
            <figure>
              <img src="images/pro3ject.jpg" alt="">           
            </figure>
            <blockquote>
              <p class="size-14 mb-0">                
                  DỰ ÁN ĐIỆN NĂNG LƯỢNG MẶT TRỜI ÁP MÁI 22KWP - BÌNH CHÁNH                
              </p>
            </blockquote>
          </div>
        </a>
      </aside>  
      <aside class="item py-lg-4">
        <a href="duanchitiet.html" class="text-dark no-decoration">
          <div class="systerm hv-shine hv-shadow" animationOnScroll='Flip'>
            <figure>
              <img src="images/pro4ject.jpg" alt="">           
            </figure>
            <blockquote>
              <p class="size-14 mb-0">                
                  DỰ ÁN ĐIỆN NĂNG LƯỢNG MẶT TRỜI ÁP MÁI 22KWP - BÌNH CHÁNH                
              </p>
            </blockquote>
          </div>
        </a>
      </aside>   
      <aside class="item py-lg-4">
        <a href="duanchitiet.html" class="text-dark no-decoration">
          <div class="systerm hv-dark hv-shadow" animationOnScroll='Flip'>
            <figure>
              <img src="images/pro4ject.jpg" alt="">           
            </figure>
            <blockquote>
              <p class="size-14 mb-0">                
                  DỰ ÁN ĐIỆN NĂNG LƯỢNG MẶT TRỜI ÁP MÁI 22KWP - BÌNH CHÁNH                
              </p>
            </blockquote>
          </div>
        </a>
      </aside>   
    </main>
  </section>