<section>
    <p class="bg-secondary2 text-center py-1 size-24">
      HÌNH ẢNH NGP
    </p>
    <main class="owl-carousel item-3-1 navMiddle">
      <div class="item">
        <figure class="rectangle" animationOnscroll='Flip'>
          <img src="images/img1.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="rectangle" animationOnscroll='Flip'>
        <img src="images/bg-gioi-thieu1.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="rectangle" animationOnscroll='Flip'>
        <img src="images/bg-gioi-thieu2.jpg" alt="">
        </figure>
      </div>
    </main>
    <footer class="text-center shadow">
      <p class="mb-2">
        NGP ETECH TVC | GIẢI PHÁP NĂNG LƯƠNG XANH
      </p>
      <p class="pb-3 mb-0">
        12.415 lượt xem •15 thg 5, 201
      </p>
    </footer>
  </section>