<!-- sticker --> 
<span id="topPages"></span>  
<a href="#topPages">
  <button id="btn-scroll" >
    <img src="images/back-to-top.png" alt="" class="hv-shadow-circle" >
  </button>
</a> 
<dl class="button-contact mb-0">
  <dt class="mr-2 d-flex">
    <a href="http://" target="_blank" class="my-auto d-block hv-shadow-circle">
      <img src="images/messenger.png" alt="" class="icon-3-2">
    </a>
  </dt>
  <dt class="mr-2 d-flex">
    <a href="http://" target="_blank" class="my-auto d-block hv-shadow-circle">
      <img src="images/zalo.png" alt="" class="icon-3-2">
    </a>
  </dt>    
  <dt class="mr-2 ml-3 d-flex">
    <a href="tel:+" id='phoneRing' class="my-auto d-block">
      <img src="images/phoneRing.svg" alt="" class="icon-3-2">
    </a>    
  </dt>
</dl>